.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
webpack.config.prod.js
vsc-extension-quickstart.md
**/*.map
**/*.ts
server/**
test/**
@"
node_modules/
src/
server/
test/
tests/
*.log
jest_out.txt
results.txt
test-output.txt
live-test*.txt
test123/
*.map
tsconfig.json
jest.config.js
"@ | Set-Content .\.vscodeignore